<div class="container mt-4">
  <h2>Lista de Solicitações</h2>
  <div *ngIf="requests.length === 0" class="alert alert-info">
    Não há solicitações para exibir.
  </div>
  <div *ngFor="let request of requests" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ request.requestorName }}</h5>
      <p class="card-text"><strong>Descrição do Item:</strong> {{ request.itemDescription }}</p>
      <p class="card-text"><strong>Preço do Produto:</strong> {{ request.priceProduct }}</p>
      <!-- Adicionar mais campos conforme necessário -->
      <form [formGroup]="approvalForm" (ngSubmit)="sendRequest(request.id)" class="mt-4">
        <div class="form-group">
          <label for="requestorName">Nome do Solicitante</label>
          <input id="requestorName" formControlName="requestorName" type="text" class="form-control" [value]="request.requestorName" readonly>
        </div>
        <div class="form-group">
          <label for="itemDescription">Descrição do item</label>
          <input id="itemDescription" formControlName="itemDescription" type="text" class="form-control" [value]="request.itemDescription" readonly>
        </div>
        <div class="form-group">
          <label for="priceProduct">Preço do produto</label>
          <input id="priceProduct" formControlName="priceProduct" type="text" class="form-control" [value]="request.priceProduct" readonly>
        </div>
        <div class="form-group">
          <label for="status">Ação</label>
          <select id="status" formControlName="status" class="form-control">
            <option value="" disabled selected>Selecione a ação</option>
            <option value="0">Reprovado</option>
            <option value="1">Aprovado</option>
          </select>
        </div>
        <div *ngIf="approvalForm.get('status')?.value && approvalForm.get('status')?.value == 0" class="form-group">
          <label for="observations">Observações</label>
          <input id="observations" formControlName="observations" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="approvalForm.invalid">Enviar retorno</button>
      </form>
    </div>
  </div>
</div>
